 #musicBtn {
    position: fixed;
    bottom: 30px;   
    right: 30px;    
    width: 60px;
    height: 60px;
    background-color: #f2e6d9; 
    border: 2px solid #a67c52; 
    border-radius: 50%;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #a67c52;
    opacity: 0.4;          
    transition: transform 0.2s, opacity 0.3s;
    z-index: 9999;
  }

  #musicBtn:hover {
    transform: scale(1.1);
    opacity: 1;           
  }
